management:
  endpoints:
    web:
      exposure:
        include: health,info
  health:
    db:
      enabled: true

spring:
  application:
    name: data-processing-engine

  datasource:
    #    postgresql data jdbc
    url: jdbc:postgresql://localhost:5432/mydatabase
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: ${REDIS_DB:localhost}
      port: 6379
      database: 0