management:
  endpoints:
    web:
      exposure:
        include: health,info
  health:
    db:
      enabled: false

spring:
  application:
    name: bank-account-service

  data:
    redis:
      host: ${REDIS_DB:localhost}
      port: 6379
      database: 0

application:
  identifier: bank-account

adapters:
  redis:
    stream:
      bank-account-events-stream: bank-account.event.bank-accounts
      bank-transaction-events-stream: bank-transaction.event.bank-transactions
      bank-transaction-events-consumer-group: bank-account-service
      bank-transaction-events-consumer-name: bank-account-consumer
      # Poller delay for outbound Redis stream publishing (in milliseconds)
      poller-delay-ms: 100
  command-channel:
    poller-delay-ms: 100
