spring:
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
  application:
    name: bank-account

logging:
  level:
    mz.data.platform.bankaccount: INFO
    org.springframework.data.redis: DEBUG
